[submodule "react-native"]
	path = vendor/react-native
	url = https://github.com/facebook/react-native.git
[submodule "fbjni"]
	path = vendor/fbjni
	url = https://github.com/facebookincubator/fbjni.git
