[submodule "jsi-sys/vendor/react-native"]
	path = jsi-sys/vendor/react-native
	url = https://github.com/facebook/react-native.git
[submodule "fbjni"]
	path = jsi-sys/vendor/fbjni
	url = https://github.com/facebookincubator/fbjni.git
